<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/layout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <section class="blog-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="main_title">
              <h2><span>Product</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div th:each="product : ${productList}" class="col-lg-4 col-md-6">
            <div class="single-blog">
              <div class="thumb">
                <img class="img-fluid" th:src="|/img/product/${#strings.toLowerCase(product.code)}.jpg|" alt="">
              </div>
              <div class="short_details">
                  <a th:href="|/reserve?code=${product.code}&title=${product.title}&id=${product.id}|"><h4 th:text="${product.title}"></h4></a>
                <div class="text-wrap">
                  <p th:text="${product.description}"></p>
                </div>
                <a th:href="|/reserve?code=${product.code}&title=${product.title}&id=${product.id}|" class="blog_btn">예약하기 <span class="ml-2 ti-arrow-right"></span></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </th:block>
</th:block>
</html>