<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="feature_product_area section_gap_bottom_custom">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="main_title">
                            <h2><span>MEMBERSHIP SERVICE</span></h2>
                            <p>Bring called seed first of third give itself now ment</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div th:each="membership : ${membershipList}" class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <div class="product-img">
                                <img class="img-fluid w-100" th:src="@{|/img/membership/${#strings.toLowerCase(membership.grade)}.jpg|}" alt="" />
                                <div class="p_icon">
                                    카카오페이 간편결제
                                    <a class="pay-button">
                                        <i class="ti-credit-card"></i>
                                        <input type="hidden" id="grade" name="grade" th:value="${membership.grade}">
                                        <input type="hidden" id="price" name="price" th:value="${membership.price}">
                                    </a>

                                </div>
                            </div>
                            <div class="product-btm">
                                <div>
                                    <a href="#" class="d-block">
                                        <h1 style="color: #4ABF60" th:text="${membership.grade}">등급</h1>
                                    </a>
                                </div>
                                <span th:text="'$'+${#numbers.formatInteger(membership.price, 3, 'COMMA') + '/'}" th:fo>가격</span><sub style="color: black">월</sub>
                            </div>
                            <ul th:each="product : ${membership.productDTOList}"  class="list-group">
                                <li class="list-group-item" th:text="|${product.title} ${product.maxNum}회|"></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
<script type="text/javascript" src="/js/kakao.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('.pay-button').click(this, function () {
            var priceNode = this.lastChild;
            var gradeNode = priceNode.previousSibling;
            var grade = gradeNode.previousElementSibling.defaultValue;
            var price = priceNode.previousElementSibling.defaultValue;

            $.post("/payment/kakao", {
                grade: grade
            })
                .done(function (data) {
                    console.log(data)
                    url = data.next_redirect_pc_url;
                    window.location.href = url;
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status == 400) {
                        swal({
                            title : "Duplication",
                            text : "이미 가입한 멤버쉽입니다.",
                            icon : "info"

                        })
                    } else if (jqXHR.status == 401) {
                        window.location.href = "/user/login"
                    }
                });
        });
    });
</script>
</html>