<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>게시판</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a th:href="@{/board/register}">글 작성하기</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="feature_product_area section_gap_bottom_custom">
      <br>
      <br>
      <div class="container">
        <form th:object="${pageRequestDTO}" class="row tracking_form" th:method="get" th:action="@{/board}">
          <input type="hidden" th:field="*{page}" value="1">
          <span class="col-md-3 form-group" >
                <select class="form-control" th:field="*{type}">
                      <option value="">============</option>
                      <option value="t" >제목</option>
                      <option value="c">내용</option>
                      <option value="w">작성자</option>
                      <option value="tc">제목 + 내용</option>
                      <option value="twc">제목 + 내용 + 작성자</option>
                </select>
          </span>
          <span class="col-md-4 form-group">
                <input th:field="*{keyword}" class="form-control">
          </span>
          <span class="col-md-3 form-group">
                <button type="submit" value="submit" class="btn submit_btn" >검색</button>
          </span>
        </form>
        <table class="table table-hover">
          <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="dto : ${result.dtoList}">
            <th scope="row" th:text="${dto.id}"></th>
            <td >
              <a th:href="@{|/board/${dto.id}(page=${result.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">[[${dto.title}]]</a>
            </td>
            <td th:text="${dto.userNickname}"></td>
            <td th:text="${#temporals.format(dto.regDate, 'yyyy/MM/dd')}"></td>
            <td th:text="${dto.view}"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <nav class="blog-pagination justify-content-center d-flex">
        <ul class="pagination">
          <li class="page-item" th:if="${result.prev}">
            <a th:href="@{/board(page=${result.start - 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}" class="page-link" aria-label="Previous">
                <span aria-hidden="true">
                    <span class="ti-arrow-left"></span>
                </span>
            </a>
          </li>
          <li th:each="page : ${result.pageList}" th:class="|page-item ${result.page == page?'active':''}|" >
            <a th:href="@{/board(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}" class="page-link" th:text="${page}"></a>
          </li>
          <li class="page-item" th:if="${result.next}">
            <a th:href="@{/board(page=${result.end + 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}" class="page-link" aria-label="Next">
                <span aria-hidden="true">
                    <span class="ti-arrow-right"></span>
                </span>
            </a>
          </li>
        </ul>
      </nav>
    </section>
  </th:block>
</th:block>
</html>