<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content d-md-flex justify-content-between align-items-center">
                        <div class="mb-3 mb-md-0">
                            <h2>게시글 수정하기</h2>
                        </div>
                        <div class="page_link">
                            <a th:text="#{home}" th:href="@{/}">Home</a>
                            <a th:href="@{/board}">목록으로</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tracking_box_area section_gap">
            <div class="container">
                <div class="tracking_box_inner">
                    <form class="row tracking_form" th:action="@{|/board/${boardEditDTO.boardId}/modify|}" th:object="${boardEditDTO}" th:method="post" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <label th:for="#{title}">제목</label>
                            <input type="text" class="form-control" th:field="*{title}" th:errorclass="field-error" placeholder="제목을 입력해주세요.">
                            <div class="field-error" th:errors="*{title}"></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>내용</label>
                            <textarea th:field="*{content}" th:errorclass="field-error" class="form-control w-100 "  cols="30" rows="9" placeholder="내용을 입력해주세요." style="height: 189px;">
                            </textarea>
                            <div class="field-error" th:errors="*{content}"></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <a th:href="@{|/board/${boardEditDTO.boardId}(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"><button type="button" class="btn submit_btn">취소</button></a>
                            <button type="submit" value="submit" class="btn submit_btn" >수정하기</button>
                            <button id="remove-btn" type="button" class="genric-btn danger radius">삭제</button>
                        </div>
                        <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
                        <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
                        <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">
                        <input type="hidden" th:field="*{userId}">
                    </form>
                </div>
            </div><br/>
        </section>

        <script th:inline="javascript">
            $("#remove-btn").click(function () {
                $(".tracking_form").attr("action", "/board/" + [[${boardEditDTO.boardId}]] + "/remove").submit();
            });
        </script>
    </th:block>
</th:block>
</html>