<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </section>
    <section class="tracking_box_area section_gap">
      <div class="container">
        <div class="tracking_box_inner">
          <article class="blog_item">
            <form th:object="${boardDTO}">
              <div class="blog_details">
                <h2 th:field="*{title}" th:text="${boardDTO.title}"></h2>
                <ul class="blog-info-link">
                  <li><i class="ti-user"></i> [[${boardDTO.userNickname}]]</li>
                  <li ><i class="ti-calendar"></i><span th:text="${#temporals.format(boardDTO.regDate, 'yyyy/MM/dd')}"></span></li>
                  <li><i class="ti-eye"></i> [[${boardDTO.view}]]</li>
                </ul>
                <pre th:field="*{content}" th:text="${boardDTO.content}"></pre>
                <a th:if="${#authentication.name == boardDTO.username}" th:href="@{|/board/${boardDTO.id}/modify|(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                  <button type="button" class="genric-btn info radius">수정</button>
                </a>
                <a th:href="@{/board(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"><button type="button" class="btn submit_btn">목록</button></a>
              </div>
            </form>
          </article>
        </div>
      </div>
    </section>
    <section>
      <div class="container blog_right_sidebar">
        <aside class="single_sidebar_widget newsletter_widget">
          <h4 class="widget_title">댓글 작성</h4>

          <form action="#">
            <div class="form-group">

              <input type="email" class="form-control" required="">
            </div>
            <button class="main_btn rounded-0 w-100" type="submit">작성하기</button>
          </form>
        </aside>



        <h4>05 Comments</h4>

        <div class="comments-area">

          <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="desc">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <h5>
                        <a href="#">Emilly Blunt</a>
                      </h5>
                      <p class="date">December 4, 2017 at 3:12 pm </p>
                    </div>
                    <div class="reply-btn">
                      <a href="#" class="btn-reply text-uppercase">reply</a>
                    </div>
                  </div>
                  <p class="comment">
                    Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                  </p>
                </div>
              </div>
            </div>
          </div>


          <div class="comment-list">
            <div class="child-comment single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="desc">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <h5>
                        <a href="#">Emilly Blunt</a>
                      </h5>
                      <p class="date">December 4, 2017 at 3:12 pm </p>
                    </div>
                  </div>
                  <p class="comment">
                    Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="comment-list">
            <div class="child-comment single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="desc">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <h5>
                        <a href="#">Emilly Blunt</a>
                      </h5>
                      <p class="date">December 4, 2017 at 3:12 pm </p>
                    </div>
                  </div>
                  <p class="comment">
                    Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="desc">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <h5>
                        <a href="#">Emilly Blunt</a>
                      </h5>
                      <p class="date">December 4, 2017 at 3:12 pm </p>
                    </div>
                    <div class="reply-btn">
                      <a href="#" class="btn-reply text-uppercase">reply</a>
                    </div>
                  </div>
                  <p class="comment">
                    Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                  </p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>

    <script th:inline="javascript">
      $(document).ready(function () {

      });
    </script>
  </th:block>
</th:block>
</html>