<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </section>
    <section class="tracking_box_area section_gap">
      <div class="container">
        <div class="tracking_box_inner">
          <article class="blog_item">
            <form th:object="${boardDTO}">
              <div class="blog_details">
                <h2 th:field="*{title}" th:text="${boardDTO.title}"></h2>
                <ul class="blog-info-link">
                  <li><i class="ti-user"></i> [[${boardDTO.userNickname}]]</li>
                  <li ><i class="ti-calendar"></i><span th:text="${#temporals.format(boardDTO.regDate, 'yyyy/MM/dd')}"></span></li>
                  <li><i class="ti-eye"></i> [[${boardDTO.view}]]</li>
                </ul>
                <pre  th:field="*{content}" th:text="${boardDTO.content}"></pre>
                <a th:if="${#authentication.name == boardDTO.username}" th:href="@{|/board/${boardDTO.id}/modify|(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                  <button type="button" class="genric-btn info radius">수정</button>
                </a>
                <a th:href="@{/board(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"><button type="button" class="btn submit_btn">목록</button></a>
              </div>
            </form>
          </article>
        </div>
      </div>
    </section>
    <section>
      <div class="container blog_right_sidebar">
        <aside class="single_sidebar_widget newsletter_widget">
          <h4 class="widget_title">댓글 작성</h4>

          <form class="reply-form" action="#">
            <div class="form-group">
              <input type="hidden" class="parent-id">
              <textarea class="reply-text form-control" required=""></textarea>
            </div>
            <button class="reply-add-btn main_btn rounded-0 w-100" type="submit">작성하기</button>
          </form>
        </aside>



        <h4 id="reply-cnt">[[${boardDTO.replyCnt}]] Comments</h4>

        <div class="comments-area">
          <div></div>
        </div>

      </div>
    </section>

    <script th:inline="javascript">
      $(document).ready(function () {
        var boardId = [[${boardDTO.id}]];
        replyList();
        var replyArea = $('.comments-area');
        var username = [[${#authentication.name}]];

        /*댓글 작성*/
        $(document).on("click", ".reply-add-btn",function (e) {
          e.preventDefault();
          if (username == 'anonymousUser') {
            alert("로그인 후 이용해주세요.");
            return;
          }
          var parentId = $(this).closest('.reply-form').find(".parent-id").val();
          var text = $(this).closest('.reply-form').find(".reply-text").val();

          var replyRegisterDTO = {
            'boardId': boardId,
            'parentId': parentId,
            'text': text
          }
          $.ajax({
            url: '/reply',
            method: 'post',
            data: JSON.stringify(replyRegisterDTO),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
              replyList();
            },
            error: function (error) {
              console.log(error);
            }
          })
        });

        /*댓글 조회*/
        function replyList() {
          $('.comments-area').empty()
          $.getJSON('/reply/' + boardId, function (arr) {
            var str = "";
            var replyCount = 0;
            $.each(arr, function (ind, reply) {
              replyCount++;
              str += '<div class="comment-list blog_details parent-id-div" data-id="'+reply.id+'" data-user="'+reply.userId+'">\n' +
                      '            <div class="single-comment justify-content-between d-flex">\n' +
                      '              <div class="user justify-content-between d-flex">\n' +
                      '                <div class="desc">\n' +
                      '                  <div class="d-flex justify-content-between">\n' +
                      '                    <div class="d-flex align-items-center " >\n' +
                      '                      <h5>\n' +
                      '                        <a href="#">'+reply.userNickname+'</a>\n' +
                      '                      </h5>\n' +
                      '                      <p class="date">' + formatTime(reply.regDate) + '</p>\n' +
                      '                      <btn type="button" class="btn-reply-child btn-reply text-uppercase">reply</btn>\n'
                      if(username == reply.username){
                        str += '                      <a href="#" class="btn-reply text-uppercase">수정</a>\n' +
                                '                      <a href="#" class="btn-reply-del btn-reply text-uppercase">삭제</a>\n'
                      }

              str +=  '                    </div>\n' +
                      '                  </div>\n' +
                      '                  <pre class="comment">' + reply.text + '</pre>\n' +
                      '                </div>\n' +
                      '              </div>\n' +
                      '            </div>\n' +
                      '          </div>'
              $.each(reply.childReplyList, function (idx, child) {
                replyCount++;
                str += "<div class='comment-list' data-id='"+child.id+"' data-user='"+child.userId+"'>\n" +
                        "            <div class=\"blog_details child-comment single-comment justify-content-between d-flex\">\n" +
                        "              <div class=\"user justify-content-between d-flex\">\n" +
                        "                <div class=\"desc\">\n" +
                        "                  <div class=\"d-flex justify-content-between\">\n" +
                        "                    <div class=\"d-flex align-items-center\">\n" +
                        "                      <h5>\n" +
                        "                        <a href=\"#\">"+child.userNickname+"</a>\n" +
                        "                      </h5>\n" +
                        "                      <p class=\"date\">" + formatTime(child.regDate) + "</p>\n" +
                        "                    </div>\n"
                if(username == child.username){
                  str += '                      <a href="#" class="btn-reply text-uppercase">수정</a>\n' +
                          '                      <a href="#" class="btn-reply-del btn-reply text-uppercase">삭제</a>\n'
                }

                str +=  "                  </div>\n" +
                        "                  <p class=\"comment\">" + child.text + "</p>\n" +
                        "                </div>\n" +
                        "              </div>\n" +
                        "            </div>\n" +
                        "          </div>";
              });
            });
            $("#reply-cnt").html(replyCount + " Comments");
            replyArea.html(str);
          });
        }

        /*대댓글 작성버튼 클릭시*/
        $(document).on("click", ".btn-reply-child", function (e) {
          e.preventDefault();
          var parentDiv = $(this.closest('.parent-id-div'));
          var parentId = parentDiv.data("id");
          if (parentDiv.children('.reply-form').length < 1) {
            parentDiv.append("<form class=\"reply-form\" action=\"#\">\n" +
                    "            <div class=\"form-group\">\n" +
                    "              <input type=\"hidden\" class=\"parent-id\" value='"+parentId+"'>\n" +
                    "              <textarea class=\"reply-text form-control\" required=\"\"></textarea>\n" +
                    "            </div>\n" +
                    "            <button class=\"reply-add-btn main_btn rounded-0 w-100\" type=\"submit\">작성하기</button>\n" +
                    "          </form>");
          } else {
            parentDiv.children('.reply-form').remove();
          }
        });

        /*댓글 삭제 버튼 클릭시*/
        $(document).on("click", ".btn-reply-del", function (e) {
          var replyId = $(this.closest('.comment-list')).data("id");
          var userId = $(this.closest('.comment-list')).data("user");
          if (confirm("최초 댓글 삭제시 하위 댓글도 삭제됩니다. 삭제하시겠습니까?")) {

            var replyRemoveDTO = {
              'boardId': boardId,
              'userId': userId
            }
            $.ajax({
              url: '/reply/' + replyId,
              method: 'delete',
              data: JSON.stringify(replyRemoveDTO),
              contentType: 'application/json; charset=utf-8',
              success: function (data) {
                console.log("삭제 성공")
                replyList();
              },
              error: function (error) {
                console.log(error);
              }
            })
          }
        });

        function formatTime(str) {
          var date = new Date(str);
          return date.getFullYear() + '/' +
                  (date.getMonth() + 1) + '/' +
                  date.getDate() + ' ' +
                  date.getHours() + ':' +
                  date.getMinutes();
        }
      });
    </script>
  </th:block>
</th:block>
</html>