<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <div class="container">
      <section class="feature_product_area section_gap_bottom_custom">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="tracking_box_inner">
              <div class="card">
                <h5 class="card-header">회원정보</h5>
                <div class="card-body">
                  <h5 class="card-title">계정아이디</h5>
                  <p class="card-text">닉네임 : asdfasdfa</p>
                  <p class="card-text">이메일 : asdfasdfa</p>
                  <p class="card-text">가입일 : 156891-123-14</p>
                  <p class="card-text">SNS 회원 여부 : 156891-123-14</p>
                  <a href="#" class="btn submit_btn">내 정보 수정하기</a>
                </div>
              </div><br>

              <div class="card">
                <h5 class="card-header">멤버쉽 정보</h5>
                <div class="card-body">
                  <h5 class="card-title">등급</h5>
                  <p class="card-text">가입일 : 156891-123-14</p>
                  <p class="card-text">만료일 : 156891-123-14</p>
                  <p class="card-text">상담 서비스 남은 횟수 : 3 / 8회</p>
                  <p class="card-text">교통 서비스 남은 횟수 : 3 / 8회</p>
                  <p class="card-text">공간 청소 서비스 남은 횟수 : 3 / 8회</p>
                  <a href="#" class="btn submit_btn">가입이력 보기</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="left_sidebar_area">
              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>UserPage</h3>
                </div>
                <div class="widgets_inner">
                  <ul class="list">
                    <li>
                      <a href="#">회원정보 수정하기</a>
                    </li>
                    <li>
                      <a href="#">멤버쉽 가입내역 보기</a>
                    </li>
                    <li>
                      <a href="#">예약 확인하기</a>
                    </li>
                  </ul>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>
    </div>

  </th:block>
</th:block>
</html>