<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <div class="container">
      <section class="feature_product_area section_gap_bottom_custom">
        <div class="row flex-row-reverse" th:object="${userInfoDTO}">
          <div class="col-lg-9">
            <div class="tracking_box_inner">
              <div class="card">
                <h5 class="card-header">회원정보</h5>
                <div class="card-body">
                  <h5 class="card-title" th:if="*{provider != null}" th:text="*{email}"></h5>
                  <h5 class="card-title" th:if="*{provider == null}" th:text="*{username}"></h5>
                  <p class="card-text" th:text="|닉네임 : *{nickname}|"></p>
                  <p class="card-text" th:text="|이메일 : *{email}|"></p>
                  <p class="card-text" th:text="|가입일 : *{#temporals.format(userRegDate, 'yyyy-MM-dd')}|"></p>
                  <p class="card-text" th:if="*{provider != null}" th:text="|SNS 회원 여부 : *{provider}|"></p>
                  <p class="card-text" th:if="*{provider == null}" ></p>
                  <a href="#" class="btn submit_btn">내 정보 수정하기</a>
                </div>
              </div><br>
              <div class="card">
                <h5 class="card-header">멤버쉽 정보</h5>
                <div class="card-body" th:if="*{grade == null}">
                  <h5>멤버쉽 가입 이력이 없습니다.</h5>
                </div>
                <div class="card-body" th:if="*{grade != null}">
                  <h5 class="card-title" th:text="*{grade}">등급</h5>
                  <p class="card-text" th:text="|가입일 : *{#temporals.format(membershipRegDate, 'yyyy-MM-dd')}|"></p>
                  <p class="card-text" th:text="|만료일 : *{#temporals.format(membershipEndDate, 'yyyy-MM-dd')}|"></p>
                  <p class="card-text" th:text="|상담 서비스 사용 횟수 : *{counselUseNum} / *{counselMaxNum}|"></p>
                  <p class="card-text" th:text="|교통 서비스 사용 횟수 : *{transportUseNum} / *{transportMaxNum}|"></p>
                  <p class="card-text" th:text="|공간 청소 서비스 사용 횟수 : *{cleanUseNum} / *{cleanMaxNum}|"></p>
                  <a href="#" class="btn submit_btn">가입이력 보기</a>
                </div>
              </div>
            </div>
          </div>

          <div th:replace="/layout/side :: side" class="col-lg-3"></div>
        </div>
      </section>
    </div>

  </th:block>
</th:block>
</html>