<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/layout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <div class="container">
      <section class="feature_product_area section_gap_bottom_custom">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <form class="row tracking_form" th:action="@{|/user/*{userId}/password|}" th:object="${userPwDTO}"  th:method="post" novalidate="novalidate">
              <div class="col-md-12 form-group">
                <label th:for="currentPw">현재 비밀번호</label>
                <input type="password" class="form-control" th:field="*{currentPw}" th:errorclass="field-error" placeholder="현재 비밀번호를 입력해주세요.">
                <div class="field-error" th:errors="*{currentPw}"></div>
              </div>
              <div class="col-md-12 form-group">
                <label th:for="modPw">변경할 비밀번호</label>
                <input type="password" class="form-control" th:field="*{modPw}" th:errorclass="field-error" placeholder="변경할 비밀번호를 입력해주세요.">
                <div class="field-error" th:errors="*{modPw}"></div>
              </div>
              <div class="col-md-12 form-group">
                <label th:for="checkModPw">비밀번호 확인</label>
                <input type="password" class="form-control" th:field="*{checkModPw}" th:errorclass="field-error" placeholder="변경할 비밀번호를 다시 입력해주세요.">
                <div class="field-error" th:errors="*{checkModPw}"></div>
              </div>
              <input type="hidden" th:field="*{userId}">

              <div class="col-md-12 form-group">
                <a th:href="@{/user/myInfo}"><button type="button" value="submit" class="btn submit_btn">취소</button></a>
                <button type="submit" value="submit" class="btn submit_btn">변경하기</button>
              </div>
            </form>
          </div>
          <div th:replace="layout/side :: side" class="col-lg-3"></div>
        </div>
      </section>
    </div>

  </th:block>
</th:block>
</html>