<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/layout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <div class="container">
      <section class="feature_product_area section_gap_bottom_custom">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <form class="row tracking_form" th:action="@{|/user/*{userId}/profile|}" th:object="${userProfileDTO}" th:method="post" novalidate="novalidate">
              <div class="col-md-7 form-group">
                <label th:for="username" th:text="#{user.id}">ID</label>
                <input type="text" th:field="*{username}" class="form-control" readonly>
              </div>
              <div class="col-md-7 form-group">
                <label th:for="nickname" th:text="#{user.nickname}">nickname</label>
                <input type="text" th:field="*{nickname}" th:errorclass="field-error" class="form-control" placeholder="Nickname">
                <div class="field-error" th:errors="*{nickname}"></div>
              </div>
              <div class="col-md-12 form-group">
                <input hidden th:field="*{userId}">
                <button type="submit" value="submit" class="btn submit_btn">수정하기</button>
              </div>
            </form>
          </div>
          <div th:replace="layout/side :: side" class="col-lg-3"></div>
        </div>
      </section>
    </div>

  </th:block>
</th:block>
</html>