<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <head>
            <!-- Google font -->
            <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

            <!-- Custom stlylesheet -->
            <link type="text/css" rel="stylesheet" href="/css/error.css" />
        </head>

        <body>

        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h3>Oops! Server Error</h3>
                    <h1><span>5</span><span>0</span><span>0</span></h1>
                </div><br/>
                <div class="banner_content row">
                    <div class="col-lg-12">
                        <h3>죄송합니다.<br/> 서버에 문제가 있어 다시 요청해주세요.</h3>
                        <a th:href="@{/}"><button type="button" class="btn btn-primary">홈으로 이동하기</button></a>
                    </div>
                </div>
            </div>
        </div>

        </body><!-- This templates was made by Colorlib (https://colorlib.com) -->

    </th:block>
</th:block>
</html>