<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/layout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <section class="feature_product_area section_gap_bottom_custom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="main_title">
              <h2><span>자주 묻는 질문</span></h2>
            </div>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      사용 방법
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <strong>1.멤버쉽 가입하기</strong>
                    <pre>상단 메뉴에서 MEMBERSHIP을 클릭합니다. 그 후 원하는 멤버쉽에 아래와 같은 버튼을 클릭하여 카카오페이 결제를 진행합니다.</pre>
                    <img src="/img/faq/faq1.jpg"><br><br>
                    <strong>2.서비스 예약하기</strong>
                    <pre>상단 메뉴에서 PRODUCT을 클릭합니다. 그 후 원하는 서비스를 선택하여 예약을 진행합니다.(상담서비스는 고객님 직접방문 서비스이므로 주소지를 입력하지 않습니다.)</pre>
                    <img src="/img/faq/faq2.jpg"><br><br>
                    <strong>3.예약 확인하기</strong>
                    <img src="/img/faq/faq3.jpg">
                    <pre>위에 표시된 순서대로 클릭하시면 아래와 같은 예약 목록을 확인할 수 있습니다. 예약은 멤버쉽별 주어진 횟수내에서 사용가능하며 마이페이지내에 멤버쉽정보에서 사용횟수/사용가능 총횟수를 확인하실 수 있습니다.</pre>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      멤버쉽 이용 주의사항
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <strong>1.멤버쉽 정기결제</strong>
                  <pre>우선 결제시 테스트 결제이므로 실제 결제처리는 되지 않습니다. 하지만 카카오페이를 통한 결제는 정기결제를 사용하고 있으므로 최초 1회 결제시 매달 테스트 결제 처리가 됩니다.</pre>
                  <strong>2.멤버쉽 해지</strong>
                  <pre>멤버쉽 해지시 예약된 서비스는 이용 가능하지만 예약하지 않은 남은 서비스는 예약이 불가능합니다. </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </th:block>
</th:block>
</html>